body {
    background-image:url('background.png');
    background-repeat:no-repeat;
    background-size: 100%;
    background-position;
}


.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(18, 120, 184);
    color: black;
}

.box{
padding: 200px;
text-align: left;
font-size: 30px;
background: white;
border-radius: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }