@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);



body {
    background-image:url('background.png');
    background-repeat:repeat;
    background-size: 100%;
    
}

body {
    background-image:url('background.png');
    background-repeat:no-repeat;
    background-size: 100%;
    background-position;
}


.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(18, 120, 184);
    color: black;
}

.box{
padding: 200px;
text-align: left;
font-size: 30px;
background: white;
border-radius: 5px;
} 

section {
    position: relative;
    width: 100%;
    height: 8vh;
    display: flex;
    overflow: hidden;
}

section div
{
    position: relative;
    width: 100%;
    overflow: hidden;
}


section div h2
{
    color: black;
    position: absolute;
    white-space: nowrap;
    font-size: 1em;
    animation: animate 300s linear infinite;
}


@keyframes animate
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(-100%);
    }
}